.Title
  .sub
    %h2.a 心を燃やせ🔥
    %h2.b 熱血PGドリル！
.Main
  .Image
    .Image__a
  .Dialogue
    %h3.Dialogue__b
      胸を張って生きろ！
      己の弱さや不甲斐なさにどれだけ打ちのめされようと心を燃やせ！歯を喰いしばって前を向け！ 
      君が足を止めて蹲っても時間の流れは止まってくれない 共に寄り添って悲しんではくれない
      俺は信じる 君を信じる

.Footer
  .Btn
    = link_to "ドリル開始", '#', class: 'btn'