* {
  box-sizing: border-box;
}

body {
  background-image: url("hono.png");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}

.Title {
  width: 100%;
  height: 100px;
  border: solid white 1px;
  .sub {
    width: 100%;
    height: 100px;
    display: flex;
    border: solid white 1px;
    .a {
      font-size: 75px;
      font-weight: bolder;
      color: red;
      width: 50vw;
      text-align: center;
    }
    .b {
      font-size: 50px;
      color: white;
      width: 50vw;
      padding: 20px 0 0 0;
      text-align: center;
    }
  }
}

.Main {
  width: 100%;
  height: calc(100vh - 200px);
  border: solid white 1px;
  display: flex;
  .Image {
    width: 50vw;
    height: calc(100vh - 200px);
    border: solid white 1px;
    &__a {
      width: 100%;
      height: calc(100vh - 200px);
      border: solid white 1px;
      background-image: url("rengoku2.png");
      background-size: 100% 100%;
    }
  }
  .Dialogue {
    width: 50vw;
    height: calc(100vh - 200px);
    border: solid white 1px;
    .Dialogue__b {
      color: white;
      font-size: 40px;
      font-weight: 800;
      padding: 20px;
    }
  }
}

.Footer {
  width: 100%;
  height: 100px;
  border: solid white 1px;
  .Btn {
    width: 25%;
    height: 100px;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    .btn {
      text-decoration: none;
      font-size: 55px;
      color: yellow;
      font-weight: 700;
    }
  }
}